#rec67686963 .t-input__vis-ph {
    color: #474747;
}

#rec67387498 .t396__artboard {
    height: 860px;
}

#rec67387498 .t396__filter {
    height: 860px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 42, 20, 0)), to(rgba(88, 33, 17, 0)));
    background-image: -webkit-linear-gradient(top, rgba(112, 42, 20, 0), rgba(88, 33, 17, 0));
    background-image: linear-gradient(to bottom, rgba(112, 42, 20, 0), rgba(88, 33, 17, 0));
}

#rec67387498 .t396__carrier {
    height: 860px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec67387498 .tn-elem[data-elem-id="1537280026388"] {
    z-index: 1;
    top: 106px;
    left: calc(50% - 600px + 320px);
    width: 560px;
}

#rec67387498 .tn-elem[data-elem-id="1537280026388"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537281095275"] {
    color: #f7dbb4;
    z-index: 12;
    top: 591px;
    left: calc(50% - 600px + 81px);
    width: 894px;
}

#rec67387498 .tn-elem[data-elem-id="1537281095275"] .tn-atom {
    color: #f7dbb4;
    font-size: 16px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537281187806"] {
    color: #ffffff;
    z-index: 13;
    top: 588px;
    left: calc(50% - 600px + 69px);
    width: 14px;
}

#rec67387498 .tn-elem[data-elem-id="1537281187806"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537347073451"] {
    z-index: 15;
    top: 263px;
    left: calc(50% - 600px + 20px);
    width: 1160px;
}

#rec67387498 .tn-elem[data-elem-id="1537347073451"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537348122495"] {
    z-index: 16;
    top: 274px;
    left: calc(50% - 600px + 274px);
    width: 300px;
}

#rec67387498 .tn-elem[data-elem-id="1537348122495"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537348139373"] {
    z-index: 17;
    top: 278px;
    left: calc(50% - 600px + 761px);
    width: 250px;
}

#rec67387498 .tn-elem[data-elem-id="1537348139373"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537370625503"] {
    color: #e5a33e;
    z-index: 18;
    top: 705px;
    left: calc(50% - 600px + 527px);
    width: 200px;
}

#rec67387498 .tn-elem[data-elem-id="1537370625503"] .tn-atom {
    color: #e5a33e;
    font-size: 18px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67387498 .tn-elem[data-elem-id="1537370686738"] {
    z-index: 19;
    top: 692px;
    left: calc(50% - 600px + 467px);
    width: 50px;
}

#rec67387498 .tn-elem[data-elem-id="1537370686738"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .t396__artboard {
    min-height: 700px;
    height: 90vh;
}

#rec67378117 .t396__filter {
    min-height: 700px;
    height: 90vh;
}

#rec67378117 .t396__carrier {
    min-height: 700px;
    height: 90vh;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec67378117 .tn-elem[data-elem-id="1470210033144"] {
    z-index: 4;
    top: calc(45vh - 350px + 121px);
    left: calc(50% - 600px + 66px);
    width: 510px;
}

#rec67378117 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537278354943"] {
    z-index: 8;
    top: calc(45vh - 350px + 281px);
    left: calc(50% - 600px + 102px);
    width: 410px;
}

#rec67378117 .tn-elem[data-elem-id="1537278354943"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537345738706"] {
    z-index: 11;
    top: calc(45vh - 350px + 154px);
    left: calc(50% - 600px + 617px);
    width: 820px;
}

#rec67378117 .tn-elem[data-elem-id="1537345738706"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537361466722"] {
    z-index: 10;
    top: calc(45vh - 350px + -1360px);
    left: calc(50% - 600px + 2160px);
    width: 6980px;
}

#rec67378117 .tn-elem[data-elem-id="1537361466722"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537443163225"] {
    z-index: 14;
    top: calc(45vh - 350px + 686px);
    left: calc(50% - 600px + 588px);
    width: 30px;
}

#rec67378117 .tn-elem[data-elem-id="1537443163225"] .tn-atom {
    opacity: 0.5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .t396__artboard {
    min-height: 700px;
    height: 90vh;
}

#rec67378117 .t396__filter {
    min-height: 700px;
    height: 90vh;
}

#rec67378117 .t396__carrier {
    min-height: 700px;
    height: 90vh;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec67378117 .tn-elem[data-elem-id="1470210033144"] {
    z-index: 4;
    top: calc(45vh - 350px + 121px);
    left: calc(50% - 600px + 66px);
    width: 510px;
}

#rec67378117 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537278354943"] {
    z-index: 8;
    top: calc(45vh - 350px + 281px);
    left: calc(50% - 600px + 102px);
    width: 410px;
}

#rec67378117 .tn-elem[data-elem-id="1537278354943"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537345738706"] {
    z-index: 11;
    top: calc(45vh - 350px + 154px);
    left: calc(50% - 600px + 617px);
    width: 820px;
}

#rec67378117 .tn-elem[data-elem-id="1537345738706"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537361466722"] {
    z-index: 10;
    top: calc(45vh - 350px + -1360px);
    left: calc(50% - 600px + 2160px);
    width: 6980px;
}

#rec67378117 .tn-elem[data-elem-id="1537361466722"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67378117 .tn-elem[data-elem-id="1537443163225"] {
    z-index: 14;
    top: calc(45vh - 350px + 686px);
    left: calc(50% - 600px + 588px);
    width: 30px;
}

#rec67378117 .tn-elem[data-elem-id="1537443163225"] .tn-atom {
    opacity: 0.5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67686963 input::-webkit-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 input::-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 input:-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 input:-ms-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 textarea::-webkit-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 textarea::-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 textarea:-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67686963 textarea:-ms-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec67770113 .t396__artboard {
    height: 840px;
}

#rec67770113 .t396__filter {
    height: 840px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 42, 20, 0)), to(rgba(88, 33, 17, 0)));
    background-image: -webkit-linear-gradient(top, rgba(112, 42, 20, 0), rgba(88, 33, 17, 0));
    background-image: linear-gradient(to bottom, rgba(112, 42, 20, 0), rgba(88, 33, 17, 0));
}

#rec67770113 .t396__carrier {
    height: 840px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec67770113 .tn-elem[data-elem-id="1537280026388"] {
    z-index: 1;
    top: 117px;
    left: calc(50% - 600px + 320px);
    width: 560px;
}

#rec67770113 .tn-elem[data-elem-id="1537280026388"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537281095275"] {
    color: #f7dbb4;
    z-index: 12;
    top: 606px;
    left: calc(50% - 600px + 81px);
    width: 1084px;
}

#rec67770113 .tn-elem[data-elem-id="1537281095275"] .tn-atom {
    color: #f7dbb4;
    font-size: 14px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537281187806"] {
    color: #ffffff;
    z-index: 13;
    top: 603px;
    left: calc(50% - 600px + 69px);
    width: 14px;
}

#rec67770113 .tn-elem[data-elem-id="1537281187806"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537347073451"] {
    z-index: 15;
    top: 344px;
    left: calc(50% - 600px + -520px);
    width: 1160px;
}

#rec67770113 .tn-elem[data-elem-id="1537347073451"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537348122495"] {
    z-index: 16;
    top: 285px;
    left: calc(50% - 600px + 274px);
    width: 300px;
}

#rec67770113 .tn-elem[data-elem-id="1537348122495"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537348139373"] {
    z-index: 17;
    top: 289px;
    left: calc(50% - 600px + 761px);
    width: 250px;
}

#rec67770113 .tn-elem[data-elem-id="1537348139373"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537370625503"] {
    color: #e5a33e;
    z-index: 18;
    top: 676px;
    left: calc(50% - 600px + 136px);
    width: 240px;
}

#rec67770113 .tn-elem[data-elem-id="1537370625503"] .tn-atom {
    color: #e5a33e;
    font-size: 18px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537370686738"] {
    z-index: 19;
    top: 663px;
    left: calc(50% - 600px + 75px);
    width: 50px;
}

#rec67770113 .tn-elem[data-elem-id="1537370686738"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67770113 .tn-elem[data-elem-id="1537523066519"] {
    z-index: 21;
    top: 435px;
    left: calc(50% - 600px + 634px);
    width: 300px;
}

#rec67770113 .tn-elem[data-elem-id="1537523066519"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67408150 input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 textarea::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 textarea:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec67408150 textarea:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec68093616 .t396__artboard {
    height: 100px;
}

#rec68093616 .t396__filter {
    height: 100px;
}

#rec68093616 .t396__carrier {
    height: 100px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec68093616 .tn-elem[data-elem-id="1470210033144"] {
    z-index: 4;
    top: 2px;
    left: calc(50% - 600px + 525px);
    width: 150px;
}

#rec68093616 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67491311 .t396__artboard {
    height: 59px;
}

#rec67491311 .t396__filter {
    height: 59px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 31, 16, 0)), to(rgba(79, 31, 16, 0)));
    background-image: -webkit-linear-gradient(top, rgba(79, 31, 16, 0), rgba(79, 31, 16, 0));
    background-image: linear-gradient(to bottom, rgba(79, 31, 16, 0), rgba(79, 31, 16, 0));
}

#rec67491311 .t396__carrier {
    height: 59px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec67491311 .tn-elem[data-elem-id="1537352033644"] {
    z-index: 4;
    top: 4px;
    left: calc(50% - 600px + 504px);
    width: 50px;
}

#rec67491311 .tn-elem[data-elem-id="1537352033644"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec67491311 .tn-elem[data-elem-id="1537866908706"] {
    color: #e3a248;
    z-index: 5;
    top: 17px;
    left: calc(50% - 600px + 566px);
    width: 130px;
}

#rec67491311 .tn-elem[data-elem-id="1537866908706"] .tn-atom {
    color: #e3a248;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec68203331 input::-webkit-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 input::-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 input:-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 input:-ms-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 textarea::-webkit-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 textarea::-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 textarea:-moz-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68203331 textarea:-ms-input-placeholder {
    color: #474747;
    opacity: 0.5;
}

#rec68193808 .t396__artboard {
    height: 210px;
}

#rec68193808 .t396__filter {
    height: 210px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 31, 16, 0)), to(rgba(79, 31, 16, 0)));
    background-image: -webkit-linear-gradient(top, rgba(79, 31, 16, 0), rgba(79, 31, 16, 0));
    background-image: linear-gradient(to bottom, rgba(79, 31, 16, 0), rgba(79, 31, 16, 0));
}

#rec68193808 .t396__carrier {
    height: 210px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#rec68193808 .tn-elem[data-elem-id="1537350738909"] {
    z-index: 1;
    top: 95px;
    left: calc(50% - 600px + 554px);
    width: 70px;
}

#rec68193808 .tn-elem[data-elem-id="1537350738909"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec68193808 .tn-elem[data-elem-id="1537350762077"] {
    z-index: 2;
    top: 95px;
    left: calc(50% - 600px + 622px);
    width: 70px;
}

#rec68193808 .tn-elem[data-elem-id="1537350762077"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec68193808 .tn-elem[data-elem-id="1537350772853"] {
    z-index: 3;
    top: 95px;
    left: calc(50% - 600px + 492px);
    width: 70px;
}

#rec68193808 .tn-elem[data-elem-id="1537350772853"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#rec68193808 .tn-elem[data-elem-id="1537352033644"] {
    z-index: 4;
    top: 50px;
    left: calc(50% - 600px + 450px);
    width: 300px;
}

#rec68193808 .tn-elem[data-elem-id="1537352033644"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

/* общие стили сайта*/
#allrecords {
    background: linear-gradient(#451a0d, #6f2a15);
}

textarea {
    resize: none;
}

#rec67686963 .t702__wrapper {
    padding: 0 45px 40px;
}

.popUp__title {
    width: 80%;
}

.t-checkbox__control {
    padding-left: 30px;
}

.t-checkbox__indicator {
    position: absolute;
    left: 0;
}

#form67686963 .t-submit {
    font-size: inherit;
}

#rec67408150 .t-input__vis-ph, .t-input, #form68203331 .t-input-block::placeholder {
    font-family: Arial !important;
    font-size: 18px;
}

.t-text_xs, .t457__li a {
    font-size: 16px !important;
}

.tn-elem__673781171537443163225 {
    bottom: 30px;
    top: inherit !important;
    cursor: pointer;
}

.tn-elem__673781171537361466722 {
    height: 1988px;
}

.t-checkbox__control.t-text {
    color: #f6dab6;
}

.t-checkbox__indicator {
    border-color: #e4a248;
}

.t-checkbox__indicator:after {
    border-color: #e4a248;
}

.t-input-group_cb .t-input-block {
    padding-left: 20%;
}

.t-input-group_cb {
    margin-bottom: 15px !important;
}

.t-form__submit button {
    width: 40%;
    font-size: 0px;
}

.button__submit {
    position: relative;
    top: 2px;
}

.form__title {
    margin: 0 15%;
}

#form68203331 .t-submit {
    font-size: 22px;
}

#rec67408150 .t696__content {
    background: linear-gradient(#461909, #522010);
    border: 0 !important;
}

/* меню сайта*/
.menu {
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px !important;
    height: 100px;
}

.menu__item {
    margin-right: 20px;
    cursor: pointer;
}

.menu__item-get {
    width: 260px;
}

.menu__item-rules {
    width: 98px;
}

.menu__item-faq {
    width: 38px;
    margin: 0;
}

@media screen and (max-width: 1199px) {
    #rec68193808 .t396__carrier, #rec68093616 .t396__carrier, #rec67491311 .t396__carrier, #rec67378117 .t396__carrier, #rec67770113 .t396__carrier, #rec67387498 .t396__carrier {
        background-attachment: scroll;
    }

    #rec67387498 .t396__artboard, #rec67387498 .t396__filter, #rec67387498 .t396__carrier {
        height: 730px;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .t457__li a {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 959px) {
    #rec67387498 .t396__artboard, #rec67387498 .t396__filter, #rec67387498 .t396__carrier {
        height: 600px;
    }

    #rec67770113 .t396__artboard, #rec67770113 .t396__filter, #rec67770113 .t396__carrier {
        height: 1110px;
    }
}

@media screen and (max-width: 639px) {
    #rec67770113 .t396__artboard, #rec67770113 .t396__filter, #rec67770113 .t396__carrier {
        height: 1180px;
    }

    #rec67378117 .t396__artboard, #rec67378117 .t396__filter, #rec67378117 .t396__carrier {
        min-height: 710px;
    }

    #rec68093616 .t396__artboard, #rec68093616 .t396__filter, #rec68093616 .t396__carrier {
        height: 70px;
    }

    .menu {
        position: inherit;
    }

    .t-input-group_cb .t-input-block {
        padding-left: 0;
    }

    .button__submit {
        width: 58%;
    }

    #rec67387498 .t396__artboard, #rec67387498 .t396__filter, #rec67387498 .t396__carrier {
        height: 530px;
    }
}

@media screen and (max-width: 479px) {
    #rec67770113 .t396__artboard, #rec67770113 .t396__filter, #rec67770113 .t396__carrier {
        height: 920px;
    }

    #rec68093616 .t396__artboard, #rec68093616 .t396__filter, #rec68093616 .t396__carrier {
        height: 70px;
    }

    #rec67378117 .t396__artboard, #rec67378117 .t396__filter, #rec67378117 .t396__carrier {
        min-height: 410px;
    }

    #rec67770113 .tn-elem[data-elem-id="1537370625503"] .tn-atom {
        font-size: 16px;
    }

    #rec67770113 .tn-elem[data-elem-id="1537281095275"] .tn-atom, #rec67770113 .tn-elem[data-elem-id="1537281187806"] .tn-atom {
        font-size: 12px;
    }
}